name: Build

on:
  push:
  workflow_dispatch:

env:
  # PACT_BROKER_BASE_URL: ${{ vars.PACT_BROKER_BASE_URL }}
  PACT_PROVIDER: pactflow-example-provider
  # PACT_BROKER_USERNAME: ${{ vars.PACT_BROKER_USERNAME }}
  # PACT_BROKER_PASSWORD: ${{ secrets.PACT_BROKER_PASSWORD }}
  REACT_APP_API_BASE_URL: http://localhost:3001
  GIT_COMMIT: ${{ github.sha }}
  GIT_REF: ${{ github.ref }}
  GIT_BRANCH: ${{ github.ref_name }}
  PACT_CLI: docker run
    --rm -v ${PWD}:${PWD}
    -e PACT_BROKER_BASE_URL=${{ vars.PACT_BROKER_BASE_URL }}
    -e PACT_BROKER_USERNAME=${{ vars.PACT_BROKER_USERNAME }}
    -e PACT_BROKER_PASSWORD=${{ secrets.PACT_BROKER_PASSWORD }}
    pactfoundation/pact-cli:latest

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: yarn

      - name: Test and generate pacts
        run: yarn test consumer

      - name: Publish pacts
        run: ${{ env.PACT_CLI }} publish ${PWD}/pacts --consumer-app-version ${{ env.GIT_COMMIT }} --branch ${{ env. GIT_BRANCH }}

  # Runs on branches as well, so we know the status of our PRs
  # can-i-deploy:
  #   runs-on: ubuntu-latest
  #   needs: test
  #   steps:
  #     - uses: actions/checkout@v3
  #     - run: docker pull pactfoundation/pact-cli:latest
  #     - name: Can I deploy?
  #       run: GIT_BRANCH=${GIT_REF:11} make can_i_deploy

  # # Only deploy from master
  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: can-i-deploy
  #   steps:
  #     - uses: actions/checkout@v3
  #     - run: docker pull pactfoundation/pact-cli:latest
  #     - name: Deploy
  #       run: GIT_BRANCH=${GIT_REF:11} make deploy
  #       if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/test'
